module nginx 1.0;

require {
        type httpd_t;
        type user_home_t; # If you want it in home, for some reason
        type httpd_sys_content_t;
        class dir { add_name write };       # Not sure about
        class file { append create open };  # these two
        class sock_file write;
}

#============= httpd_t ==============

#!!!! This avc is allowed in the current policy
allow httpd_t httpd_sys_content_t:dir { add_name write };

#!!!! This avc can be allowed using the boolean 'httpd_unified'
allow httpd_t httpd_sys_content_t:file create;

#!!!! This avc is allowed in the current policy
allow httpd_t httpd_sys_content_t:file append;

#!!!! This avc is allowed in the current policy
allow httpd_t user_home_t:file open;

allow httpd_t httpd_sys_content_t:sock_file write;
